
    <!-- Footer -->
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <a href="#" class="brand">Ghana Forestry Commission</a>
            <ul class="contact-info list-unstyled">
              <li>P.O.Box 678, Efie Kuma - Takoradi</li>
              <li>GA-1234-5678</li>
              <li><a href="mailto:sales@landy.com">email@fcgh.com</a></li>
              <li><a href="#">+233 123 456 789</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="text-center">
          <img src="assets/site/img/googleplay.png" alt="google play" width="200px" />
          <img src="assets/site/img/appstore2.png" alt="appstore" width="200px" />
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>&copy; 2020 - GFC | Legal Timber System.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
