<!-- Footer -->
<footer class="main-footer" style="padding-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="#" class="brand">NDF - Nature & Development Foundation</a>
        <ul class="contact-info list-unstyled">
          <li>Center for Africa Wetlands Building</li>
          <li>University of Ghana, Legon. PMB: L45</li>

          <li>
            <a href="tel:(+233) 0302903359"
              >(+233) 0302903359 / 020808739 / 0362195737</a
            >
          </li>
          <li>
            <a href="mailto:ndfwestafrica@gmail.com"
              >ndfwestafrica@gmail.com|info@ndfwestafrica.org</a
            >
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <img
        src="assets/site/img/googleplay.png"
        alt="google play"
        width="200px"
      />
      <img src="assets/site/img/appstore2.png" alt="appstore" width="200px" />
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; - 2020-NDF | Ghana Legal Timber Market</p>
        </div>
      </div>
    </div>
  </div>
</footer>
