
                <div class="my-3 my-md-5">
                  <div class="container">
                      <div class="page-header">
                          <h1 class="page-title">
                              Vendor Data
                          </h1>
                          <div class="page-subtitle">
                              Upload vendor database
                          </div>
                      </div>

                      <!-- Body goes here -->
                      <div class="my-auto">
                          <div class="container">
                              <form action="/file-upload" class="dropzone">
                                  <div class="fallback">
                                      <input
                                          name="file"
                                          type="file"
                                          multiple
                                      />
                                  </div>
                              </form>
                              <div class="my-5 text-center">
                                  <button
                                      type="button"
                                      class="btn btn-outline-dark mr-3"
                                  >
                                      <i class="fe fe-x-circle mr-2"></i>
                                      Cancel
                                  </button>
                                  <button type="button" class="btn btn-cyan">
                                      <i class="fe fe-check-circle mr-2"></i
                                      >Upload database
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
