
                <div class="my-3 my-md-5">
                  <div class="container">
                      <div class="page-header">
                          <h1 class="page-title">
                              News Article
                          </h1>
                          <div class="page-subtitle">
                              Manage news
                          </div>
                      </div>

                      <!-- Body goes here -->
                      <div class="text-right mb-5">
                          <button
                              type="button"
                              class="btn btn-outline-dark mr-2"
                          >
                              <i class="fe fe-toggle-right mr-2"></i>Hide/Show
                              News
                          </button>
                          <button type="button" class="btn btn-danger">
                              <i class="fe fe-trash-2 mr-2"></i>Delete news
                          </button>
                      </div>
                      <div class="my-2">
                          <form action="" method="post">
                              <div class="row">
                                  <div class="form-group col-7">
                                      <div class="form-label">
                                          Upload news image
                                      </div>
                                      <div class="custom-file">
                                          <input
                                              type="file"
                                              class="custom-file-input"
                                              name="example-file-input-custom"
                                          />
                                          <label class="custom-file-label"
                                              >Choose file</label
                                          >
                                      </div>
                                  </div>

                                  <div class="form-group col-7 mt-3">
                                      <label class="form-label"
                                          >News Caption</label
                                      >
                                      <input
                                          type="text"
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                      />
                                  </div>

                                  <div class="form-group col-12 mt-3">
                                      <label class="form-label"
                                          >News Body</label
                                      >
                                      <editor
                                      apiKey="Get your free API key and paste it here"
                                      plugins="wordcount"
                                    ></editor>
                                  </div>
                              </div>
                              <hr />
                              <div class="text-center mt-5">
                                  <button
                                      type="button"
                                      class="btn btn-outline-dark mr-2"
                                  >
                                      <i class="fe fe-x-circle mr-2"></i
                                      >Cancel
                                  </button>
                                  <button type="button" class="btn btn-cyan">
                                      <i class="fe fe-plus-circle mr-2"></i
                                      >Update news
                                  </button>
                              </div>
                          </form>
                      </div>

                      <script>
                          tinymce.init({
                              selector: "textarea#tiny"
                          });
                      </script>
                  </div>
              </div>
