

                        <hr />

                        <div class="my-3 my-md-5">
                            <div class="row row-cards row-deck" *ngIf="news && news.length">
                                <div class="col-lg-12" *ngFor="let newsArticle of news">
                                    <div class="card card-aside">
                                        <a *ngIf="newsArticle?.image"
                                            [routerLink]="['/admin/view-news/'+newsArticle.id]"
                                            class="card-aside-column"
                                            [ngStyle]="{ 'background-image': 'url(' +imageBaseUrl+'/'+newsArticle.image + ')'}"
                                        ></a>
                                        <a *ngIf="!newsArticle?.image"
                                            [routerLink]="['/admin/view-news/'+newsArticle.id]"
                                            class="card-aside-column"
                                            style="background-image: url(./assets/images/dev/wood2.jpg)"
                                        ></a>
                                        <div
                                            class="card-body d-flex flex-column"
                                        >
                                            <div class="row">
                                                <div class="col-9">
                                                    <h4>
                                                        <a [routerLink]="['/admin/view-news/'+newsArticle.id]"
                                                            >{{newsArticle.title}} </a
                                                        >
                                                    </h4>
                                                </div>

                                                <div
                                                    class="ml-auto text-muted text-right col-3"
                                                >
                                                    <button
                                                        (click)=updateNews(newsArticle.id)
                                                        class="btn btn-sm btn-gray-dark ml-2"
                                                    >
                                                        <i
                                                            class="fe fe-edit-3"
                                                        ></i>
                                                    </button>

                                                    <button
                                                        (click)=deleteNews(newsArticle.id)
                                                        class="btn btn-sm btn-danger ml-2"
                                                    >
                                                        <i
                                                            class="fe fe-trash-2"
                                                        ></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="text-muted">
                                                {{newsArticle.description.length > 230 ? newsArticle.description.substr(0,230)+'...': newsArticle.description}}
                                            </div>
                                            <div>
                                                <small
                                                    class="d-block text-muted"
                                                    >{{newsArticle.updatedAt | date}}</small
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
