<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"> </i>
</div>
<div class="page">
  <div class="page-single mt-5">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <div class="text-center mb-6">
            <img src="assets/images/logo.png" class="img-fluid" />
            <h2>Ghana Legal Timber Market</h2>
          </div>

              <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                {{errorMessage}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <form class="card" #loginform="ngForm" (ngSubmit)="authenticate(loginform)">
                <div class="card-body p-6">
                  <div class="card-title">Login to your account</div>

                  <div class="form-group">
                    <label class="form-label" for="telephone">Telephone Number</label>
                    <input class="form-control"
                      type="tel"
                      name="telephone"
                      placeholder="Telephone Number"
                      id="telephone"
                      minlength="10"
                      [(ngModel)]="vendor.telephone"
                      #TelephoneVar="ngModel"
                      [ngClass]="{'is-invalid': TelephoneVar.touched && !TelephoneVar.valid}"
                    />
                    <span class="invalid-feedback" *ngIf="TelephoneVar.errors">enter a valid telephone number</span>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password">password</label>
                    <input class="form-control"
                      type="password"
                      name="password"
                      placeholder="password"
                      id="password"
                      [(ngModel)]="vendor.password"
                      #PasswordVar="ngModel"
                    />
                  </div>
                  <div class="form-footer">
                    <button
                      type="submit" class="btn btn-green btn-block">
                      Sign in
                    </button>
                  </div>
                </div>
                <!-- Footer -->
                <div class="text-center card-footer mt-1 px-0 py-auto col-12">
                  <p>
                    Don't have an account?<a [routerLink]="['/vendor/signup']">
                       Create one</a
                    >
                  </p>
                  <p>
                    <i class="fe fe-arrow-left-circle mr-2"></i>
                    <a [routerLink]="['/']">Site Home</a>
                  </p>
                </div>
              </form>
            </div>
      </div>
    </div>
  </div>
</div>
