
    <!-- Custom Search bar -->
    <section id="newsletter" class="newsletter bg-search">
      <div class="container text-center">
        <h2>Know more about the timber industry</h2>
        <div class="form-holder">
          <form id="newsletterForm" action="#">
            <div class="form-group">
              <input
                type="text"
                name="search"
                id="search"
                placeholder="Type search query here"
              />
              <a
                href="news_search.html"
                class="btn btn-primary btn-gradient submit"
              >
                Search
              </a>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Section for search results -->
    <section class="news bg-gray">
      <div class="container text-center">
        <h2 class="h3">Recent News</h2>
        <a href="view_news.html" class="row d-flex justify-content-center mt-5">
          <div class="col-lg-3 news-image">
            <img src="assets/site/img/lumber.jpg" alt="" class="img-fluid" />
          </div>

          <div class="col-lg-9 news-article">
            <p class="text-left">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              rerum vero corrupti dolores tempora maiores accusantium,
              reprehenderit soluta perspiciatis nobis! Nisi error quisquam
              sapiente consequuntur blanditiis animi id labore voluptates?
            </p>
          </div>
        </a>

        <a href="view_news.html" class="row d-flex justify-content-center mt-5">
          <div class="col-lg-3 news-image">
            <img src="assets/site/img/lumber.jpg" alt="" class="img-fluid" />
          </div>

          <div class="col-lg-9 news-article">
            <p class="text-left">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              rerum vero corrupti dolores tempora maiores accusantium,
              reprehenderit soluta perspiciatis nobis! Nisi error quisquam
              sapiente consequuntur blanditiis animi id labore voluptates?
            </p>
          </div>
        </a>

        <a href="view_news.html" class="row d-flex justify-content-center mt-5">
          <div class="col-lg-3 news-image">
            <img src="assets/site/img/lumber.jpg" alt="" class="img-fluid" />
          </div>

          <div class="col-lg-9 news-article">
            <p class="text-left">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              rerum vero corrupti dolores tempora maiores accusantium,
              reprehenderit soluta perspiciatis nobis! Nisi error quisquam
              sapiente consequuntur blanditiis animi id labore voluptates?
            </p>
          </div>
        </a>

        <nav aria-label="...">
          <ul class="pagination-green">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <span class="page-link">
                2
                <span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
