<!-- Loding -->
<div class="my-overlay" *ngIf="!pageOfItems">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"> </i>
</div>
<!-- Custom Search bar -->
<section
  id="newsletter"
  class="newsletter"
  style="padding-top: 50px; padding-bottom: 50px;"
>
  <div class="container text-center">
    <h2>Know more about the timber industry</h2>
    <div class="form-holder">
      <div class="form-group">
        <input
          [(ngModel)]="listFilter"
          type="text"
          name="search"
          id="search"
          placeholder="Search by a key word or phrase"
        />
      </div>
    </div>
  </div>
</section>
<!-- Section for search results -->
<section class="news" style="background-color: #f5f5f5; padding-top: 20px;">
  <div
    class="container text-center"
    *ngIf="filteredNews && filteredNews.length"
  >
    <h2 class="h3">News</h2>
    <div *ngFor="let newsArticle of pageOfItems">
      <a
        [routerLink]="['/news', newsArticle.id]"
        class="row d-flex justify-content-center mt-5"
        *ngIf="newsArticle.consumer !== 'vendor'"
      >
        <div class="col-lg-3 news-image">
          <img
            *ngIf="newsArticle?.image"
            src="{{ imageBaseUrl + '/' + newsArticle.image }}"
            alt=""
            class="img-fluid"
          />
          <img
            *ngIf="!newsArticle?.image"
            src="assets/images/dev/wood2.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-lg-9 news-article" style="text-align: justify;">
          <h4>{{ newsArticle?.title }}</h4>
          <div
            [innerHTML]="
              newsArticle.description.length > 530
                ? newsArticle.description.substr(0, 530) + '...'
                : newsArticle.description
            "
          ></div>
        </div>
      </a>
    </div>
    <div class="row mt-5">
      <nav aria-label="..." class="text-center mx-auto">
        <jw-pagination
          [items]="filteredNews"
          (changePage)="onChangePage($event)"
        ></jw-pagination>
      </nav>
    </div>
  </div>
</section>
