
    <!-- Custom Search bar -->
    <section id="newsletter" class="newsletter bg-search">
      <div class="container text-center" style="max-height: 200px;">
        <h2>Know more about the timber industry</h2>
        <div class="form-holder">
            <div class="form-group">
              <input
              [(ngModel)]='listFilter'
                type="text"
                name="search"
                id="search"
                placeholder="Search by key workd or phrase"
              />
              <a
                class="btn btn-primary btn-gradient submit"
              >
                Search
              </a>
            </div>
        </div>
      </div>
    </section>
    <!-- Section for search results -->
    <section class="news bg-gray">
      <div class="container text-center"  *ngIf="filteredNews && filteredNews.length">
        <h2 class="h3">News</h2>
        <div *ngFor="let newsArticle of filteredNews">
          <a [routerLink]="['/news',newsArticle.id]" class="row d-flex justify-content-center mt-5">
            <div class="col-lg-3 news-image">
              <img
              *ngIf="newsArticle?.image"
              src="{{imageBaseUrl+'/'+newsArticle.image}}" alt="" class="img-fluid" />
              <img
              *ngIf="!newsArticle?.image"
              src="assets/images/dev/wood2.jpg" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-9 news-article" style="text-align: justify;">
            <h4>{{newsArticle.title}}</h4>
            <div
            [innerHTML]="newsArticle.description.length > 530 ? newsArticle.description.substr(0,530)+'...': newsArticle.description">
            </div>
            </div>
          </a>
        </div>

        <nav aria-label="...">
          <ul class="pagination-green">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <span class="page-link">
                2
                <span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
