<div class="my-overlay" *ngIf="!pageOfItems || showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"> </i>
</div>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                Dashboard
              </h1>
            </div>

            <!-- Body goes here -->
            <div class="row">
              <div class="col-6">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-orange-dark mr-3">
                      <i class="fe fe-users"></i>
                    </span>
                    <div>
                      <h4 class="m-0">
                        <a href="javascript:void(0)"
                          >121 <small>vendors</small></a
                        >
                      </h4>
                      <small class="text-muted">Currently in the system</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-cyan-dark mr-3">
                      <i class="fe fe-users"></i>
                    </span>
                    <div>
                      <h4 class="m-0">
                        <a href="javascript:void(0)"
                          >120 <small>users</small></a
                        >
                      </h4>
                      <small class="text-muted">Currently in the system</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
              {{errorMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

                      <!-- Modal -->
                    <div
                      class="modal fade"
                      id="pending-details"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="pending-details"
                      aria-hidden="true"
                    >
                      <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                      >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="pending-details">
                              Details
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true"></span>
                            </button>
                          </div>
                          <div class="modal-body" *ngIf="filteredStock">
                            <img
                              src="{{filteredStock.image ? imageBaseUrl+'/'+filteredStock.image : 'assets/images/dev/wood1.jpg'}}"
                              alt=""
                              class="img-fluid"
                            />
                            <div class="my-5">
                              <table class="table">
                                <tbody>
                                  <tr>
                                    <td>Timber Name</td>
                                    <td>{{filteredStock.name}}</td>
                                  </tr>
                                  <tr>
                                    <td>Available Units</td>
                                    <td>{{filteredStock.quantity}} logs</td>
                                  </tr>
                                  <tr>
                                    <td>Size</td>
                                    <td>{{filteredStock.size}}</td>
                                  </tr>

                                  <tr>
                                    <td>Price per Log</td>
                                    <td>GHc {{filteredStock.pricePerLog}}</td>
                                  </tr>
                                  <tr>
                                    <td>Description</td>
                                    <td>
                                      {{filteredStock.description}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              (click)=declineStock(filteredStock.id)
                              type="button"
                              class="btn btn-danger"
                            >
                            <i class="fe fe-x mr-2"></i>Decline
                            </button>
                            <button
                              (click)=approveStock(filteredStock.id)
                              data-dismiss="modal"
                              type="button" class="btn btn-success">
                                <i class="fe fe-check-circle mr-2"></i>Approve
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                      <!-- Denial Modal -->
                      <div
                      class="modal fade"
                      id="decline-pending"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="decline-pending"
                      aria-hidden="true"
                    >
                      <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                      >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="decline-pending">
                              Do you want to decline this pending stock?
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true"></span>
                            </button>
                          </div>
                          <div class="modal-body" *ngIf="filteredStock">
                            <img
                              src="{{filteredStock.image ? imageBaseUrl+'/'+filteredStock.image : 'assets/images/dev/wood1.jpg'}}"
                              alt=""
                              class="img-fluid"
                            />
                            <div class="my-5">
                              <table class="table">
                                <tbody>
                                  <tr>
                                    <td>Timber Name</td>
                                    <td>{{filteredStock.name}}</td>
                                  </tr>
                                  <tr>
                                    <td>Available Units</td>
                                    <td>{{filteredStock.quantity}} logs</td>
                                  </tr>
                                  <tr>
                                    <td>Size</td>
                                    <td>{{filteredStock.size}}</td>
                                  </tr>

                                  <tr>
                                    <td>Price per Log</td>
                                    <td>GHc {{filteredStock.pricePerLog}}</td>
                                  </tr>
                                  <tr>
                                    <td>Description</td>
                                    <td>
                                      {{filteredStock.description}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <label style="color: red;">Reason</label>
                            <input class="form-control" [(ngModel)]="statusComment" type='text' placeholder="Reason for declining this pending stock" />
                          </div>
                          <div class="modal-footer">
                            <button
                              (click)=declineStock(filteredStock.id)
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                            <i class="fe fe-x mr-2"></i>Decline
                            </button>
                            <button
                              data-dismiss="modal"
                              type="button" class="btn btn-default">
                                <i class="fe fe-check-circle mr-2"></i>Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
            <hr />
            <!-- stock approval -->
            <div class="row mb-5">
              <div class="col-md-6">
                <h4>Stock Upload Approval</h4>
              </div>
              <div class="col-md-6 text-right"></div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title"></h3>
                <div class="card-options">
                  <a class="btn btn-orange"
                  mwlConfirmationPopover
                  [popoverTitle]=popoverTitle
                  [popoverMessage]=popoverMessage
                  placement="left" style="color: white;"
                  (confirm)=approveAllStock()
                  (cancel)="cancelClicked = true"
                    >Approve all pending stocks</a
                  >
                </div>
              </div>
              <div class="card-body">
                <!-- Cards of uploads -->
                <div class="row row-cards row-deck" *ngIf='pendingStocks && pendingStocks.length'>
                  <!-- card 1 -->
                  <div class="col-md-4" *ngFor='let stock of pageOfItems'>
                    <div class="card">
                      <div class="card-body">
                        <div class="mb-4 text-center">
                          <a
                          href="javascript:void(0)"
                          (deletedStock)=false
                          (click)=getFilteredStock(stock.id)
                          data-toggle="modal"
                          data-target="#pending-details">
                            <img style="height: 200px;"
                              src="{{stock.image ? imageBaseUrl+'/'+stock.image : 'assets/images/dev/wood1.jpg'}}"
                              alt=""
                              class="img-fluid"
                            />
                          </a>
                        </div>
                        <h4 class="card-title">
                          <a
                          href="javascript:void(0)"
                          (deletedStock)=false
                          (click)=getFilteredStock(stock.id)
                          data-toggle="modal"
                          data-target="#pending-details">
                          {{stock.description.length > 100 ? stock.description.substr(0,100)+"..." : stock.description}}
                          </a>
                        </h4>
                        <hr />
                        <button
                        (click)=getFilteredStock(stock.id)
                        data-toggle="modal"
                        data-target="#decline-pending"
                        class="btn btn-danger">
                          <i class="fe fe-x mr-2"></i>Decline
                        </button>
                        <div class="float-right">
                          <button
                          (click)=approveStock(stock.id)
                          class="btn btn-success">
                            <i class="fe fe-check-circle mr-2"></i>Approve
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <nav aria-label="..." class="text-center">
                  <jw-pagination [pageSize]="pageSize" [items]="pendingStocks" (changePage)="onChangePage($event)"></jw-pagination>
                </nav>
              </div>
            </div>

            <hr />
            <div class="row mb-5">
              <div class="col-md-6">
                <h4>Recent Feedbacks from users</h4>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-dark">
                  View all feedbacks
                </button>
              </div>
            </div>

            <div class="my-auto">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <h4>
                        <a href="#">Subject of feedbacks.</a>
                      </h4>
                      <div class="text-muted">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Ipsam maxime eveniet sapiente deleniti debitis, ad
                        rem perspiciatis ullam ipsum quaerat, sequi nostrum!
                        Corporis quo magni unde corrupti non porro ratione.
                      </div>
                      <div class="d-flex align-items-center pt-5 mt-auto">
                        <div>
                          <a href="./user_profile.html" class="text-default">
                            Name of user</a
                          >
                        </div>
                        <div class="ml-auto text-muted"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <h4>
                        <a href="#">Subject of feedbacks.</a>
                      </h4>
                      <div class="text-muted">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Ipsam maxime eveniet sapiente deleniti debitis, ad
                        rem perspiciatis ullam ipsum quaerat, sequi nostrum!
                        Corporis quo magni unde corrupti non porro ratione.
                      </div>
                      <div class="d-flex align-items-center pt-5 mt-auto">
                        <div>
                          <a href="./user_profile.html" class="text-default">
                            Name of user</a
                          >
                        </div>
                        <div class="ml-auto text-muted"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <h4>
                        <a href="#">Subject of feedbacks.</a>
                      </h4>
                      <div class="text-muted">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Ipsam maxime eveniet sapiente deleniti debitis, ad
                        rem perspiciatis ullam ipsum quaerat, sequi nostrum!
                        Corporis quo magni unde corrupti non porro ratione.
                      </div>
                      <div class="d-flex align-items-center pt-5 mt-auto">
                        <div>
                          <a href="./user_profile.html" class="text-default">
                            Name of user</a
                          >
                        </div>
                        <div class="ml-auto text-muted"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
