
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                Dashboard
              </h1>
            </div>

            <!-- Body goes here -->
            <div class="row">
              <div class="col-6">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-orange-dark mr-3">
                      <i class="fe fe-users"></i>
                    </span>
                    <div>
                      <h4 class="m-0">
                        <a href="javascript:void(0)"
                          >121 <small>vendors</small></a
                        >
                      </h4>
                      <small class="text-muted">Currently in the system</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-cyan-dark mr-3">
                      <i class="fe fe-users"></i>
                    </span>
                    <div>
                      <h4 class="m-0">
                        <a href="javascript:void(0)"
                          >120 <small>users</small></a
                        >
                      </h4>
                      <small class="text-muted">Currently in the system</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr />
            <div class="row mb-5">
              <div class="col-md-6">
                <h4>Recent Feedbacks from users</h4>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-dark">
                  View all feedbacks
                </button>
              </div>
            </div>

            <div class="my-auto">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <h4>
                        <a href="#">Subject of feedbacks.</a>
                      </h4>
                      <div class="text-muted">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Ipsam maxime eveniet sapiente deleniti debitis, ad
                        rem perspiciatis ullam ipsum quaerat, sequi nostrum!
                        Corporis quo magni unde corrupti non porro ratione.
                      </div>
                      <div class="d-flex align-items-center pt-5 mt-auto">
                        <div>
                          <a href="./user_profile.html" class="text-default">
                            Name of user</a
                          >
                        </div>
                        <div class="ml-auto text-muted"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <h4>
                        <a href="#">Subject of feedbacks.</a>
                      </h4>
                      <div class="text-muted">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Ipsam maxime eveniet sapiente deleniti debitis, ad
                        rem perspiciatis ullam ipsum quaerat, sequi nostrum!
                        Corporis quo magni unde corrupti non porro ratione.
                      </div>
                      <div class="d-flex align-items-center pt-5 mt-auto">
                        <div>
                          <a href="./user_profile.html" class="text-default">
                            Name of user</a
                          >
                        </div>
                        <div class="ml-auto text-muted"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <h4>
                        <a href="#">Subject of feedbacks.</a>
                      </h4>
                      <div class="text-muted">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Ipsam maxime eveniet sapiente deleniti debitis, ad
                        rem perspiciatis ullam ipsum quaerat, sequi nostrum!
                        Corporis quo magni unde corrupti non porro ratione.
                      </div>
                      <div class="d-flex align-items-center pt-5 mt-auto">
                        <div>
                          <a href="./user_profile.html" class="text-default">
                            Name of user</a
                          >
                        </div>
                        <div class="ml-auto text-muted"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
