
                <div class="header py-4">
                  <div class="container">
                      <div class="d-flex">
                          <a class="header-brand" [routerLink]="['/admin']">
                            <h4><img
                            src="assets/images/logo.png"
                            width="64px"
                            height="auto"
                          />| Legal Timber System</h4>
                          </a>
                          <div class="d-flex order-lg-2 ml-auto">
                              <div class="dropdown">
                                  <a

                                      class="nav-link pr-0 leading-none"
                                      data-toggle="dropdown"
                                  >
                                      <span
                                          class="avatar"
                                          [ngStyle]="{ 'background-image': 'url(' + auth.getLoggedUser().profilePic + ')'}"
                                      ></span>
                                      <span class="ml-2 d-none d-lg-block">
                                          <span class="text-default"
                                              >{{ auth.getLoggedUser().firstName }}</span
                                          >
                                          <small
                                              class="text-muted d-block mt-1"
                                              >{{auth.getLoggedUser().type}}</small
                                          >
                                      </span>
                                  </a>
                                  <div
                                      class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                                  >
                                      <a class="dropdown-item" routerLink="/admin/profile" >
                                          <i
                                              class="dropdown-icon fe fe-user"
                                          ></i>
                                          Profile
                                      </a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" (click)="logout()">
                                          <i
                                              class="dropdown-icon fe fe-log-out"
                                          ></i>
                                          Sign out
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <a

                              class="header-toggler d-lg-none ml-3 ml-lg-0"
                              data-toggle="collapse"
                              data-target="#headerMenuCollapse"
                          >
                              <span class="header-toggler-icon"></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div
                  class="header collapse d-lg-flex p-0"
                  id="headerMenuCollapse"
              >
                  <div class="container">
                      <div class="row align-items-center">
                          <div class="col-lg order-lg-first">
                              <ul
                                  class="nav nav-tabs border-0 flex-column flex-lg-row"
                              >
                                  <li class="nav-item">
                                      <a
                                      [routerLink]="['/admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                                          class="nav-link"
                                          ><i class="fe fe-book-open"></i>
                                          Dashboard</a
                                      >
                                  </li>
                                  <li class="nav-item">
                                      <a
                                          href="javascript:void(0)"
                                          class="nav-link"
                                          data-toggle="dropdown"
                                          ><i class="fe fe-server"></i> Vendor
                                          Data</a
                                      >
                                      <div
                                          class="dropdown-menu dropdown-menu-arrow"
                                      >
                                          <a
                                              [routerLink]="['/admin/upload-excel']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                                              class="dropdown-item "
                                              >Upload database</a
                                          >
                                          <a
                                             [routerLink]="['/admin/show-vendors']" routerLinkActive="active"
                                              class="dropdown-item "
                                              >Show vendors</a
                                          >
                                      </div>
                                  </li>
                                  <li class="nav-item">
                                      <a
                                          href="javascript:void(0)"
                                          class="nav-link"
                                          data-toggle="dropdown"
                                          ><i class="fe fe-file-text"></i>
                                          News Item</a
                                      >
                                      <div
                                          class="dropdown-menu dropdown-menu-arrow"
                                      >
                                          <a
                                              [routerLink]="['/admin/create-news']" routerLinkActive="active"
                                              class="dropdown-item active"
                                              >Create news</a
                                          >
                                          <a
                                              [routerLink]="['/admin/view-news']" routerLinkActive="active"
                                              class="dropdown-item "
                                              >View all news</a
                                          >
                                      </div>
                                  </li>
                                  <li class="nav-item">
                                    <a [routerLink]="['/']" class="nav-link"
                                      ><i class="fe fe-globe"></i> Website Home
                                    </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
