
          <div class="my-3 my-md-5">
            <div class="container">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">Stock activity logs</h2>
                        </div>
                        <table class="table card-table">
                            <tr>
                                <td>Vendor</td>
                                <td>Stock</td>
                                <td>Time</td>
                                <td>Quantity</td>
                                <td>License type</td>
                                <td>License number</td>
                                <td>Date of upload</td>
                                <td>License number</td>
                                <td >Action</td>
                                <td >Date of action</td>
                                <td >Admin</td>
                                <!-- <td class="text-right">
                                    <span class="badge badge-default"
                                        >pending stock</span
                                    >
                                </td> -->
                            </tr>
                            <tr>
                              <td>Vendor</td>
                              <td>Stock</td>
                              <td>Time</td>
                              <td>Quantity</td>
                              <td>License type</td>
                              <td>License number</td>
                              <td>Date of upload</td>
                              <td>License number</td>
                                <td>
                                  <span class="badge badge-default"
                                      >pending stock</span>
                                </td>
                                <td >Date of action</td>
                                <td >Admin</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
