
          <div class="my-3 my-md-5">
            <div class="container">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">Admin logs</h2>
                        </div>
                        <table class="table card-table">
                            <tr>
                                <td>Admin 1</td>
                                <td>10:00am</td>
                                <td class="text-right">
                                    <span class="badge badge-default"
                                        >pending stock</span
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td>Admin 1</td>
                                <td>10:00am</td>
                                <td class="text-right">
                                    <span class="badge badge-success"
                                        >Approved stock</span
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td>Admin 2</td>
                                <td>10:00am</td>
                                <td class="text-right">
                                    <span class="badge badge-danger"
                                        >Rejected stock</span
                                    >
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
