<!-- Loding -->
<div class="my-overlay" *ngIf="!pageOfItems">
  <i class="fa fa-spinner fa-spin" aria-hidden="true">
  </i>
</div>
    <!-- Modal for details-->
    <div
      id="details"
      tabindex="-1"
      role="dialog"
      aria-labelledby="details"
      aria-hidden="true"
      class="modal fade"
    >
      <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">
              Vendor Details
            </h5>
            <button
              type="button"
              data-dismiss="modal"
              aria-label="Close"
              class="close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body mt-5">
            <div
              class="modal-dialog modal-dialog-centered"
              role="document"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="details">
                    Details
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true"></span>
                  </button>
                </div>
                <div class="modal-body" *ngIf="filteredStock">
                  <img
                    src="{{filteredStock.image ? imageBaseUrl+'/'+filteredStock.image : 'assets/images/dev/wood1.jpg'}}"
                    alt=""
                    class="img-fluid"
                  />
                  <div class="my-5">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Timber Name</td>
                          <td>{{filteredStock.name}}</td>
                        </tr>
                        <tr>
                          <td>Available Units</td>
                          <td>{{filteredStock.quantity}} logs</td>
                        </tr>
                        <tr>
                          <td>Size</td>
                          <td>{{filteredStock.size}}</td>
                        </tr>

                        <tr>
                          <td>Price per Log</td>
                          <td>GHc {{filteredStock.pricePerLog}}</td>
                        </tr>
                        <tr>
                          <td>Description</td>
                          <td>
                            {{filteredStock.description}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <h6>Vendor Info</h6>
                    <div class="col" *ngIf="vendor">
                      <table class="table text-left">
                        <thead>
                          <tr>
                            <th scope="col">Company</th>
                            <th scope="col">Location</th>
                            <th scope="col">Contact</th>
                            <!-- <th></th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ vendor.companyName }}</td>
                            <td>{{ vendor.address}}</td>
                            <td>{{ vendor.telephoneNumber }}</td>
                            <td *ngIf="false"><a href="{{'/catalog/venodor/'+ vendor.companyCode}}">View vendor</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search filter -->
    <section id="query">
      <div class="container text-center">
        <div class="text-center mb-5">
          <h2>Filter Catlog</h2>
        </div>
        <div class="form-holder">
          <form>
            <div class="form-row mb-4">
              <div class="form-group col-md-4">
                <label for="inputState">Location</label>
                <select
                  class="form-control custom-select custom-select-lg"
                  [(ngModel)]='locationFilter' [ngModelOptions]="{standalone: true}"
                  >
                  <option value=" ">Choose...</option>
                  <option *ngFor="let location of uniqueLoc "value="{{location}}">{{location}}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Species</label>
                <select *ngIf="uniqueName"
                  class="form-control custom-select custom-select-lg"
                  [(ngModel)]='nameFilter' [ngModelOptions]="{standalone: true}"
                  >
                  <option value=" " selected>Choose...</option>
                  <option *ngFor="let specie of uniqueName " value="{{specie}}">{{specie}}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Size</label>
                <select *ngIf="uniqueUnit"
                  id="inputState"
                  class="form-control custom-select custom-select-lg"
                  [(ngModel)]='unitFilter' [ngModelOptions]="{standalone: true}"
                >
                  <option value=" " selected>Choose...</option>
                  <option *ngFor="let unit of uniqueUnit " value="{{unit}}">{{unit}}</option>
                </select>
              </div>
            </div>
            <!-- <div class="text-center">
              <button type="submit" class="btn btn-primary">Search</button>
            </div> -->
          </form>
        </div>

        <h2 class="h3">Timber Stock Catalog</h2>
        <div

          class="row d-flex justify-content-center mt-5"
          data-toggle="modal"
          data-target="#details"
          *ngIf="filteredStocks && filteredStocks.length"
        >
          <table class="table text-left">
            <thead>
              <tr>
                <th scope="col">Stock image</th>
                <th scope="col">Species</th>
                <th scope="col">Quantity (Size)</th>
                <th scope="col">Location</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stock of pageOfItems">
                <td>
                  <a
                  class="btn btn-outline-dark btn-sm"
                  (click)=getFilteredStock(stock.id)
                  data-toggle="modal"
                  data-target="#details">
                    <img src="{{stock.image ? imageBaseUrl+'/'+stock.image : 'assets/images/dev/wood1.jpg'}}" height="80px" width="100px"/>
                  </a>
                </td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.quantity }} ({{ stock.size }})</td>
                <td>{{ stock.location }}</td>
                <td>
                  <a
                    class="btn btn-outline-dark btn-sm"
                    (click)=getFilteredStock(stock.id)
                    data-toggle="modal"
                    data-target="#details"
                  >
                    <i class="fa fa-external-link mr-2"></i>
                    View details
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <nav aria-label="..." class="text-center">
          <jw-pagination [items]="filteredStocks" (changePage)="onChangePage($event)"></jw-pagination>
        </nav>
      </div>
    </section>
    <!-- Search results -->
    <!-- <section class="news" >
      <div class="container text-center">
      </div>
    </section> -->
