
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand" href="home.html">
                <h4>GFC | Legal Timber System</h4>
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                  <div class="dropdown">
                      <a
                          href="#"
                          class="nav-link pr-0 leading-none"
                          data-toggle="dropdown"
                      >
                          <span
                              class="avatar"
                              [ngStyle]="{ 'background-image': 'url(' + auth.getLoggedUser().profilePic + ')'}"
                          ></span>
                          <span class="ml-2 d-none d-lg-block">
                              <span class="text-default"
                                  >{{ auth.getLoggedUser().firstName }}</span
                              >
                              <small
                                  class="text-muted d-block mt-1"
                                  >{{auth.getLoggedUser().type}}</small
                              >
                          </span>
                      </a>
                      <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                      >
                          <a class="dropdown-item" href="#">
                              <i
                                  class="dropdown-icon fe fe-user"
                              ></i>
                              Profile
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">
                              <i
                                  class="dropdown-icon fe fe-log-out"
                              ></i>
                              Sign out
                          </a>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a [routerLink]="['/vendor']" routerLinkActive="active"  class="nav-link"
                      ><i class="fe fe-book-open"></i> Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/vendor/manage-stock']" routerLinkActive="active" class="nav-link"
                      ><i class="fe fe-file"></i> Manage Stock
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/vendor/news']" routerLinkActive="active" class="nav-link"
                      ><i class="fe fe-book-open"></i> News
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
