
                <div class="my-3 my-md-5">
                  <div class="container">
                      <div class="page-header">
                          <h1 class="page-title">
                              Users Data
                          </h1>
                          <!-- <div class="page-subtitle">
                              Show all Administrators
                          </div> -->
                      </div>
                      <div class="container mb-5 text-right">
                          <a [routerLink]="['/admin/view-activity']" class="btn btn-teal mr-3">
                              <i class="fe fe-file-plus"></i>
                              View Activity Logs
                          </a>
                          <a  [routerLink]="['/admin/add-admin']" class="btn btn-primary">
                              <i class="fe fe-plus"></i>
                              Create New Admin
                          </a>
                      </div>

                      <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{errorMessage}}
                        <button type="button" class="close" (click)="resetErrorMessage(1)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"(click)="resetErrorMessage(2)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <!-- Body goes here -->
                      <div class="my-auto">
                          <div class="container">
                              <!-- start -->
                              <div class="card">
                                  <div class="card-header">
                                      <h3 class="card-title">
                                          Filter Users
                                      </h3>
                                      <div class="col-4">
                                        <input class="form-control" [(ngModel)]="filter"
                                        [ngModelOptions]="{ standalone: true }">
                                      </div>
                                  </div>

                                  <div class="table-responsive">
                                      <table
                                          class="table card-table table-vcenter text-nowrap datatable"
                                      >
                                          <thead>
                                              <tr>
                                                  <th>Name</th>
                                                  <th>Role</th>
                                                  <th>Phone</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody *ngIf="pageOfItems && pageOfItems.length">
                                              <tr *ngFor="let user of pageOfItems">
                                                  <td>
                                                    {{ user.firstName }} - {{ user.otherNames }}
                                                  </td>
                                                  <td>
                                                      {{ user.type }} {{ user.companyCode ? ' - ' +user.companyCode:'' }}
                                                  </td>
                                                  <td>
                                                    {{ user.telephone }}
                                                  </td>
                                                  <td class="text-right">
                                                      <span>
                                                        <a *ngIf="user.isActive"
                                                          (click)="suspendUser(user.id)"
                                                          class="btn btn-warning btn-sm"
                                                          >Suspend</a
                                                        >
                                                        <a *ngIf="!user.isActive"
                                                          (click)="activateUser(user.id)"
                                                          class="btn btn-success btn-sm"
                                                          >Activate</a
                                                        > -
                                                      </span>

                                                      <a
                                                          (click)="deleteUser(user.id)"
                                                          class="btn btn-danger btn-sm"
                                                          >Delete</a
                                                      >
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                      <!-- Pagination -->
                                      <div class="row mt-5">
                                        <nav aria-label="..." class="mx-auto">
                                          <jw-pagination
                                            [items]="filteredUsers"
                                            (changePage)="onChangePage($event)"
                                          ></jw-pagination>
                                        </nav>
                                      </div>
                                      <div class="" *ngIf="!pageOfItems">
                                        <p><img src="assets/images/loading.gif" style="width: 45px; height:45px; margin-left: 46%; border-radius: 15px;" /></p>
                                      </div>
                                      <script>
                                          require([
                                              "datatables",
                                              "jquery",
                                          ], function (datatable, $) {
                                              $(".datatable").DataTable();
                                          });
                                      </script>
                                  </div>
                                  <!-- Finish -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
