<!-- Loding -->
<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true">
  </i>
</div>
<!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg fixed-top">
        <a href="index.html" class="navbar-brand">GFC - Legal Timber System</a>
        <button
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler navbar-toggler-right"
        >
          <span></span><span></span><span></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul
            class="navbar-nav ml-auto align-items-start align-items-lg-center"
          >
            <li class="nav-item">
              <a [routerLink]="['/']" routerLinkActive="active" class="nav-link link-scroll">Home</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/catalog']" routerLinkActive="active" class="nav-link link-scroll"
                >Browse Catalog</a
              >
            </li>
            <li class="nav-item">
              <a [routerLink]="['/news']" routerLinkActive="active" class="nav-link link-scroll">News</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/vendor']" routerLinkActive="active" class="nav-link link-scroll">Vendor</a>
            </li>
          </ul>
          <div class="navbar-text" *ngIf="!auth.isLoggedIn()">
            <!-- Button trigger modal--><a
              href="#"
              data-toggle="modal"
              data-target="#login"
              class="btn btn-primary navbar-btn btn-shadow btn-gradient"
              >Login</a
            >
          </div>
          <div class="navbar-text" *ngIf="!auth.isLoggedIn()">
            <!-- Button trigger modal--><a
              href="#"
              data-toggle="modal"
              data-target="#signup"
              class="btn btn-primary navbar-btn btn-shadow btn-gradient"
              >Sign Up</a
            >
          </div>
        </div>

        <div *ngIf="auth.isLoggedIn()" class="dropdown">
          <a
              href="#"
              class="nav-link pr-0 leading-none"
              data-toggle="dropdown"
          >
              <span
                  class="avatar"
                  [ngStyle]="{ 'background-image': 'url(' + auth.getLoggedUser().profilePic + ')'}"
              ></span>
              <span class="ml-2 d-none d-lg-block">
                  <span class="text-default"
                      >{{ auth.getLoggedUser().firstName }}</span
                  >
                  <small
                      class="text-muted d-block mt-1"
                      >Welcome!</small
                  >
              </span>
          </a>
          <div
              class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
          >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">
                  <i
                      class="dropdown-icon fe fe-log-out"
                  ></i>
                  Sign out
              </a>
          </div>
      </div>

      </nav>
    </header>
    <div *ngIf="errorMessage" class="row">
      <div class="alert alert-danger">{{errorMessage?.message}}</div>
    </div>
    <!-- Sign up Modal-->
    <div
      id="signup"
      tabindex="-1"
      role="dialog"
      aria-labelledby="signup"
      aria-hidden="true"
      class="modal fade"
    >
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="signupModalLabel" class="modal-title">Sign Up Modal</h5>
            <button
              type="button"
              data-dismiss="modal"
              aria-label="Close"
              class="close"
              #closeSignupModal
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="signup-modal-body">
            <div *ngIf="errorMessage" class="row">
              <div class="alert alert-danger">{{errorMessage?.message}}</div>
            </div>
            <form id="signupform"
                  [formGroup]="buyerForm"
                  (ngSubmit)="saveBuyer()">
              <div class="form-group">
                <label for="FirstName">First Name</label>
                <input
                  type="text"
                  placeholder="First Name"
                  id="FirstName"
                  required autofocus
                  minlength="3"
                  formControlName="FirstName"
                  [ngClass]="{'is-invalid': (buyerForm.get('FirstName').touched || buyerForm.get('FirstName').dirty) && !buyerForm.get('FirstName').valid}"
                />
                <span class="invalid-feedback">
                  <span *ngIf="buyerForm.get('FirstName').errors?.minlength">Name must be longer than 3 characters</span>
                </span>
              </div>
              <div class="form-group">
                <label for="otherNames">Other Name(s)</label>
                <input
                  type="text"
                  placeholder="Other Name(s)"
                  id="otherNames"
                  minlength="3"
                  formControlName="otherNames"
                  [ngClass]="{'is-invalid': (buyerForm.get('otherNames').touched || buyerForm.get('otherNames').dirt) && !buyerForm.get('otherNames').valid}"/>
            <span class="invalid-feedback">
              <span *ngIf="buyerForm.get('otherNames').errors?.required">Please enter your name</span>
              <span *ngIf="buyerForm.get('otherNames').errors?.minlength">Name must be longer than 3 characters</span>
            </span>
              </div>
              <div class="form-group">
                <label for="telephone">Telephone Number</label>
                <input
                  type="tel"
                  placeholder="Telephone Number"
                  id="telephone"
                  minlength="10"
                  formControlName="telephone"
                  [ngClass]="{'is-invalid': (buyerForm.get('telephone').touched || buyerForm.get('telephone').derty) && !buyerForm.get('telephone').valid}" />
                  <span class="invalid-feedback">
                      <span *ngIf="buyerForm.get('telephone').errors">Please enter a valid telephone number</span>
                      <span *ngIf="buyerForm.get('telephone').errors?.minlength">telephone number must be longer than 10 Numbers</span>
                  </span>
              </div>
              <div formGroupName="passwordGroup">
                <div class="form-group">
                  <label for="password">password</label>
                  <input
                    type="password" required
                    minlength="6"
                    placeholder="password"
                    id="password"
                    formControlName="password"
                    [ngClass]="{'is-invalid': buyerForm.get('passwordGroup').errors ||
                                              ((buyerForm.get('passwordGroup.password').touched ||
                                              buyerForm.get('passwordGroup.password').derty) &&
                                              !buyerForm.get('passwordGroup.password').valid)}"
                  />
                  <span class="invalid-feedback">
                    <span *ngIf="buyerForm.get('passwordGroup.password').errors?.minlength">password must be longer than 6 characters</span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="confirmpassword">Confirm password</label>
                  <input
                    type="password"
                    placeholder="Confirm password"
                    id="confirmpassword"
                        minlength="6" required
                        formControlName="confirmPassword"
                        [ngClass]="{'is-invalid': buyerForm.get('passwordGroup').errors ||
                                                  ((buyerForm.get('passwordGroup.confirmPassword').touched ||
                                                  buyerForm.get('passwordGroup.confirmPassword').derty) &&
                                                  !buyerForm.get('passwordGroup.confirmPassword').valid)}" />
                  <span class="invalid-feedback">
                    <span *ngIf="buyerForm.get('passwordGroup.confirmPassword').errors?.required">Please enter a valid password</span>
                    <span *ngIf="buyerForm.get('passwordGroup').errors?.match">password does not match</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="submit btn btn-primary btn-shadow btn-gradient"
                  [title]="buyerForm.valid ? 'Save your entered data' : 'Disabled until form data is valid'"
                  [disabled]="!buyerForm.valid"
                >
                  Signup
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal-->
    <div
      id="login"
      tabindex="-1"
      role="dialog"
      aria-labelledby="login"
      aria-hidden="true"
      class="modal fade"
    >
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="loginModalLabel" class="modal-title">Login Modal</h5>
            <button
              type="button"
              data-dismiss="modal"
              aria-label="Close"
              class="close"
              #closeLoginModal
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="login-modal-body">
            <div *ngIf="errorMessage" class="row">
              <div class="alert alert-danger">{{errorMessage?.message}}</div>
            </div>
            <form id="loginform"
            #loginform="ngForm" (ngSubmit)="authenticate(loginform)">
              <div class="form-group">
                <label for="telephone">Telephone Number</label>
                <input
                  type="tel"
                  name="telephone"
                  placeholder="Telephone Number"
                  id="telephone"
                  minlength="10"
                  [(ngModel)]="buyer.telephone"
                  #TelephoneVar="ngModel"
                  [ngClass]="{'is-invalid': TelephoneVar.touched && !TelephoneVar.valid}"
                />
                <span class="invalid-feedback" *ngIf="TelephoneVar.errors">enter a valid telephone number</span>
              </div>
              <div class="form-group">
                <label for="password">password</label>
                <input
                  type="password"
                  name="password"
                  placeholder="password"
                  id="password"
                  [(ngModel)]="buyer.password"
                  #PasswordVar="ngModel"
                />
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="submit btn btn-primary btn-shadow btn-gradient"
                >
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
