
    <!-- Hero section -->
    <section id="hero" class="hero hero-home bg-gray">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-6 text order-2 order-lg-1">
            <h1>Forestry commision &mdash; Legal Timber System</h1>
            <p class="hero-text">
              This project was setup to allow users to timber to get in touch
              with legal timber vendors to purchase lumber for their work.
            </p>
            <div class="CTA">
              <a  class="btn btn-outline-primary">Read more</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/site/img/lumber.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!-- How to use -->
    <section id="browser" class="browser">
      <div class="container text-center">
        <h2 class="h3 mb-2">Connect with a legal lumber vendor</h2>
        <h4 class="h5 mb-5">How it works</h4>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3">
            <div id="myTab" role="tablist" class="nav nav-tabs">
              <div class="row">
                <div class="col-lg-12 mb-4">
                  <a
                    id="nav-first-tab"
                    data-toggle="tab"
                    href="#nav-first"
                    role="tab"
                    aria-controls="nav-first"
                    aria-expanded="true"
                    class="nav-item nav-link active"
                  >
                    <span class="number">1</span>Enter your search query</a
                  >
                </div>
                <div class="col-lg-12 my-4">
                  <a
                    id="nav-second-tab"
                    data-toggle="tab"
                    href="#nav-second"
                    role="tab"
                    aria-controls="nav-second"
                    class="nav-item nav-link"
                  >
                    <span class="number">2</span>Choose a vendor from the list
                    of suitable vendors</a
                  >
                </div>
                <div class="col-lg-12 mt-4">
                  <a
                    id="nav-third-tab"
                    data-toggle="tab"
                    href="#nav-third"
                    role="tab"
                    aria-controls="nav-third"
                    class="nav-item nav-link"
                  >
                    <span class="number">3</span>Contact the vendor</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 text-center">
            <div class="browser-mockup">
              <div id="nav-tabContent" class="tab-content">
                <div
                  id="nav-first"
                  role="tabpanel"
                  aria-labelledby="nav-first-tab"
                  class="tab-pane fade show active"
                >
                  <img src="assets/site/img/preview-1.png" alt="..." class="img-fluid" />
                </div>
                <div
                  id="nav-second"
                  role="tabpanel"
                  aria-labelledby="nav-second-tab"
                  class="tab-pane fade"
                >
                  <img src="assets/site/img/preview-2.png" alt="..." class="img-fluid" />
                </div>
                <div
                  id="nav-third"
                  role="tabpanel"
                  aria-labelledby="nav-third-tab"
                  class="tab-pane fade"
                >
                  <img src="assets/site/img/preview-3.png" alt="..." class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to action download application -->
    <section id="features" class="features bg-success">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="text col-lg-6 order-1 order-lg-2">
            <h2>Download our mobile application</h2>
            <p class="text-white">
              Have a more personalized experience and have your business right
              in your hand.
            </p>
            <div class="CTA">
              <a  class="btn btn-outline-dark">Download</a>
            </div>
          </div>
          <div class="image col-lg-6 order-2 order-lg-1">
            <img src="assets/site/img/mobile copy.png" alt="..." class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!-- About us -->
    <section id="about-us" class="about-us bg-gray">
      <div class="container">
        <h2>About Us</h2>
        <div class="row">
          <p class="lead col-lg-10">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
            animi numquam inventore assumenda vitae consequuntur suscipit
            explicabo mollitia dolores deserunt, officia itaque laudantium
            recusandae officiis molestiae, necessitatibus quasi dolorum
            asperiores!
          </p>
        </div>
      </div>
    </section>
    <!-- Contact us  -->
    <section id="contact" class="newsletter bg-wood">
      <div class="container">
        <div class="text-center">
          <h2 class="header">Contact us</h2>
          <p class="lead text-white">
            We are glad to here from you.
          </p>
        </div>
        <div class="form-holder">
          <form id="contact" class="row">
            <div class="form-group col-6">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Kofi Ghana"
              />
            </div>

            <div class="form-group col-6">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="email@example.com"
              />
            </div>

            <div class="form-group col-12">
              <label for="message">Message</label>
              <textarea
                id="message"
                rows="10"
                placeholder="Write your message here"
              >
              </textarea>
            </div>
            <div class="my-2 mx-auto">
              <button class="btn btn-primary">Send</button>
            </div>
          </form>
        </div>
      </div>
    </section>
