
<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-login mx-auto">
          <div class="text-center mb-6">
            <img src="assets/images/logo.png" width="120px" height="auto">
            <h2>Ghana Legal Timber Market</h2>
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{errorMessage}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="" *ngIf="loading">
            <p><img src="assets/images/loading.gif" style="width: 45px; height:45px; margin-left: 46%; border-radius: 15px;" /></p>
          </div>

          <form class="card" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="card-body p-6">
              <p class="card-title text-center">Reset Password </p>
              <div class="form-group">
                <label class="form-label">PIN</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="pin"
                  placeholder="Enter PIN"
                  [ngClass]="{
                    'is-invalid':
                      ((resetPasswordForm.get('pin').touched ||
                        resetPasswordForm.get('pin').dirty) &&
                        !resetPasswordForm.get('pin').valid)
                  }"
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="telephone"
                  >Telephone Number</label
                >
                <input
                  class="form-control"
                  type="tel"
                  placeholder="Telephone Number"
                  id="telephone"
                  minlength="10"
                  formControlName="telephone"
                  [ngClass]="{
                    'is-invalid':
                      (resetPasswordForm.get('telephone').touched ||
                        resetPasswordForm.get('telephone').dirty) &&
                      !resetPasswordForm.get('telephone').valid
                  }"
                />
                <span class="invalid-feedback">
                  <span *ngIf="resetPasswordForm.get('telephone').errors"
                    >Please enter a valid telephone number</span
                  >
                  <span
                    *ngIf="resetPasswordForm.get('telephone').errors?.minlength"
                    >telephone number must be longer than 10 Numbers</span
                  >
                </span>
              </div>

              <div class="form-group" formGroupName="passwordGroup" >
                    <!-- New password -->
                    <div class="form-group">
                      <label class="form-label" for="password">password</label>
                      <input
                        class="form-control"
                        type="password"
                        required
                        minlength="6"
                        placeholder="password"
                        id="password"
                        formControlName="password"
                        [ngClass]="{
                          'is-invalid':
                            resetPasswordForm.get('passwordGroup').errors ||
                            ((resetPasswordForm.get('passwordGroup.password').touched ||
                              resetPasswordForm.get('passwordGroup.password').dirty) &&
                              !resetPasswordForm.get('passwordGroup.password').valid)
                        }"
                      />
                      <span class="invalid-feedback">
                        <span
                          *ngIf="
                            resetPasswordForm.get('passwordGroup.password').errors
                              ?.minlength
                          "
                          >password must be longer than 6 characters</span
                        >
                      </span>
                    </div>
                    <!-- Re-enter password -->
                    <div class="form-group">
                      <label class="form-label" for="confirmpassword"
                        >Confirm password</label
                      >
                      <input
                        class="form-control"
                        type="password"
                        placeholder="Confirm password"
                        id="confirmpassword"
                        minlength="6"
                        required
                        formControlName="confirmPassword"
                        [ngClass]="{
                          'is-invalid':
                            resetPasswordForm.get('passwordGroup').errors ||
                            ((resetPasswordForm.get('passwordGroup.confirmPassword')
                              .touched ||
                              resetPasswordForm.get('passwordGroup.confirmPassword')
                                .dirty) &&
                              !resetPasswordForm.get('passwordGroup.confirmPassword')
                                .valid)
                        }"
                      />
                      <span class="invalid-feedback">
                        <span
                          *ngIf="(
                            resetPasswordForm.get('passwordGroup.confirmPassword')
                            .touched ||
                            resetPasswordForm.get('passwordGroup.confirmPassword').dirty) &&
                              resetPasswordForm.get('passwordGroup.confirmPassword').errors
                                ?.required
                            "
                          >Please enter a valid password</span
                        >
                        <span
                          *ngIf="resetPasswordForm.get('passwordGroup').errors?.match"
                          >Please enter a valid password</span
                        >
                      </span>
                    </div>
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-success btn-block"
                [title]="
                        resetPasswordForm.valid
                          ? 'Send pin'
                          : 'Disabled, enter valid telephone number'
                      "
                      [disabled]="!resetPasswordForm.valid"
                >
                  Reset password
                </button>
                <p>
                  <i class="fe fe-arrow-left-circle mr-2"></i>
                  <a [routerLink]="['/']">Site Home</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
