
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                Manage Stock
              </h1>
            </div>

            <!-- Body goes here -->
            <div class="my-auto">
              <div class="container">
                <div class="col-12">
                  <div class="card">
                    <div class="card-status bg-orange"></div>
                    <div class="card-header">
                      <h3 class="card-title">Add Stock</h3>
                      <div class="card-options">
                        <a
                          href="#"
                          class="card-options-collapse"
                          data-toggle="card-collapse"
                          ><i class="fe fe-chevron-up"></i
                        ></a>
                        <a
                          href="#"
                          class="card-options-remove"
                          data-toggle="card-remove"
                          ><i class="fe fe-x"></i
                        ></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="row">
                          <div class="col-7">
                            <div class="form-group">
                              <label class="form-label">Timber Name</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Wawa"
                              />
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="form-group">
                              <label class="form-label">Available Unit</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="500"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label class="form-label">Size</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="2 x 6"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label class="form-label"
                                >Quantity in Stock</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                placeholder="500"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label class="form-label">Price per log</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Ghc 170"
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group mb-0">
                              <label class="form-label">Description</label>
                              <textarea rows="5" class="form-control">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel animi,
voluptatem consequuntur debitis nam suscipit cupiditate in similique
ea dolor deleniti inventore ullam, quod repudiandae placeat voluptatum nesciunt dolore dolorem!
</textarea
                              >
                            </div>
                          </div>
                        </div>
                        <div class="card-footer text-right">
                          <button type="submit" class="btn btn-primary">
                            Add Stock
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
